<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Add todo</h1>
    <form id="addTodo" th:action="@{/todos/add}" method="post" >
        <input type="text" placeholder="type here..." name="content" >
        <input type="submit" placeholder="type here..." value="Submit" >
    </form>
    <div th:if="${todolist}">
        <ul th:each="todo : ${todolist}">
            <li style="display:flex;justify-content:space-between">
                <p>[[${todo.content}]]</p>
                <div th:if="${todo.completed == true}">
                    <p>DONE</p>
                </div>
                <div th:if="${todo.completed == false}">
                    <p>TODO</p>
                </div>
                <button onclick="completeTodo(todo)">
                    Complete
                </button>
            </li>
        </ul>
    </div>
    <div th:if="${todolist == null}">
        <p>No items in Todolist</p>
    </div>
</body>
</html>